.product{
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1;
    align-items: center;
    justify-content: flex-end;
    margin: 0 10px;
    width: 100%;
    min-width: 100px;
    padding: 30px 0;
}
.product_info > img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}
.product_info{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}
.product_rating{
    display: flex;
}
.product_info > button{
    margin-top: 10px;
    align-self: center;
    background-color: #f0c14b;
    border: 1px solid;
    border-bottom: #a88734 #9c7e31 #846a29;
    padding: 0 10px;
    color: #111;
}
